body {
    background-image: url(https://wallpaperaccess.com/full/5923902.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.btn-success {
    margin-right: 28px;
}
.header {
    position: relative;
    border-bottom: 1px solid #dcd6d6;
}
h1 {
    color: #d53d3d;
    font-size: 26px;
    padding: 0 15px;
    margin: 0px 25px;
    line-height: 44px;
}
#vungChua {
    margin-top: 50px;
}
.text-center {
    text-align: center;
    margin-top: 25px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #dcc7c7;
}
input {
    opacity: 0.6;
}